@import '_global/fonts.scss';
@import '_global/mixins.scss';
@import '_global/vars.scss';
@import '_global/effects.scss';
@import '_global/sprites.scss';
@import '_global/grid.scss';

@import '_bem/title.scss';
@import '_bem/demititle.scss';
@import '_bem/hero-text.scss';
@import '_bem/article-text.scss';
@import '_bem/buttons.scss';
@import '_bem/image-helpers.scss';
@import '_bem/head-nav.scss';
@import '_bem/inner-footer.scss';
@import '_bem/cta-footer.scss';
@import '_bem/footer.scss';

@import '_views/home.scss';
@import '_views/skills.scss';
@import '_views/branding.scss';
@import '_views/web.scss';
@import '_views/about.scss';

*{
	margin: 0;
	padding: 0;
	@include lightFont();
}

h1{
	@include lightFont();
}

h2, p{
	@include regularFont();
}

#test{
	z-index: 1000000000000;
	position: absolute;
	background-color: red;
	opacity: 0.3;
	width: 288px;
	height: 63px;
	right: 100px;
}


@import '_global/responsive.scss';