.footer{
	position: relative;
	width: 100%;
	padding-top: 60px;
	background-color: $lightest-gray;

	&:before{
		content: "";
		position: absolute;
		width: 90%;
		max-width: 1170px;
		height: 1px;
		margin: auto;
		top: 0;
		left: 0; right: 0;
		background-color: $stroke-gray;
	}

	&__row{
		@include flexIt;
		// @include flexSpaceBetween;
		@include flexWrap(wrap);
		@include boxSizeFit();
		// padding: 0 20px 45px 0;
		padding-bottom: 45px;

		@media (min-width: 768px){
			@include flexSpaceBetween;
			@include flexWrap(nowrap);
		}
	}

	&__col{
		width: 100%;
		&:not(:last-child){margin-bottom: 30px;}
		&:nth-child(2){width: 100px;}

		@media (min-width: 768px){
			width: initial;
			&:not(:last-child){margin-bottom: 0;}
		}
	}

	&__subtitles{
		font-size: 14px;
		color: $black;
		@include regularFont();
		margin-bottom: 18px;
	}

	&__list-wrapper{
		list-style: none;
		text-align: left;
	}

	&__list-bullet{
		font-size: 14px;
		line-height: 1.4em;
		color: $lm-gray;

		a{
			position: relative;
			text-decoration: none;
			color: inherit;

			&:before{
				content: attr(fx-text);
				white-space: nowrap;
				position: absolute;
				width: 0;
				height: 100%;
				left: 0;
				color: $black;
				overflow: hidden;
				@include transitions(0.65s);
			}
			&:hover:before{
				width: 100%;
			}
		}
	}



	&__legals{
		height: 84px;
		text-align: center;
		font-size: 12px;
		line-height: 1.5em;
		color: $lm-gray;
		padding-top: 20px;
		padding-bottom: 45px;
		@include lightFont();
		border-top: 1px solid $stroke-gray;
		@include boxSizeFit;
	}



	&__scroll-cta{
		position: absolute;
		width: 21px;
		height: 100%;
		right: 30px;
		bottom: 50px;
		-webkit-writing-mode: vertical-lr;
		writing-mode: vertical-lr;
		@include rotate(180deg);

		// @media (min-width: 768px){bottom: 5px;}

		@media (min-width: 1440px){
			bottom: 0;
			right: 80px;
		}

		&__label{
			position: absolute;
			text-decoration: none;
			font-size: 12px;
			color: $black;
			text-transform: uppercase;
			@include transitions(.7s);
			top: 84px;

			&:hover{
				@include translate(0, 10px);
			}
		}
	}
}









