.photo-helper{
	position: relative;
	display: inline-block;
	float: left;

	&--left {
		margin-left: 0;
	}
	&--right {
		float: right;
	}

	&--3-half-col{
		width: 340px;
		height: 360px;
		background-color: #fcfcfc;
	}

	&--5-col{
		width: 500px;
	}
	&--6-col{
		width: 600px;
	}
	&--full{
		width: 100%;
	}

	&--lower{
		margin-top: 33px;
	}

	img{
		width: 100%;
	}

	.svg-img{
		position: absolute;
		margin: auto;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
		#responsive-svg{width: 201px;}
		#ux-svg{width: 181px;}
		#brandid-svg{width: 154px;}
		#print-svg{width: 132px;}
}
