#aboutWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: scroll;
	padding-top: 160px;
	@include boxSizeFit();
}

.aboutBody{
	margin-bottom: 0;
}

.about-info-rows{
	margin-bottom: 80px;
}

.about-inner-footer{
	margin-bottom: 90px;
}