.testSquare{
	z-index: 1000000000;
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: rgba(0,255,0,0.5);

	margin: auto;
	bottom: 0;
	left: 0;
}

// GENERAL
	#fullWrapper{
		position: fixed;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		z-index: 1;

		#mbrtLoader{
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1000000000000;
			background-color: #fff;
			@include trans-delayed(1s, 0.4s);

			.centeredWrapper{
				position: absolute;
				text-align: center;
				width: 1024px;
				height: 472px;
				line-height: 50px;
				margin: auto;
				top: 0; bottom: 5%; left: 0; right: 0;

				.innerLoaderBoxes{
					position: relative;
					display: table;
					width: 100%;
					@include bounce_trans(0.5s);
				}
				
				.quotesBox{
					height: 107px;

					p{
						position: absolute;
						width: auto;
						height: 35px;
						line-height: 35px;
						margin: auto;
						top: 0; bottom: 0; left: 0; right: 0;
						color: $mid-gray;
						font-size: 24px;
						-webkit-font-smoothing: antialiased !important;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
						@include opacity(0);
						-webkit-transform: translateY(15px);
						   -moz-transform: translateY(15px);
						    -ms-transform: translateY(15px);
						     -o-transform: translateY(15px);
						        transform: translateY(15px);
				        @include transitions(0.6s);
					}
					
					.active{
						@include opacity(1);
						-webkit-transform: none;
						   -moz-transform: none;
						    -ms-transform: none;
						     -o-transform: none;
						        transform: none;
					}
				}
				.loadingBox{
					height: 170px;
					@include bounce_trans(0.5s);

					h1{
						position: absolute;
						width: 150px;
						height: 47px;
						margin: auto;
						top: 0; bottom: 0; left: 0; right: 0;
						vertical-align: middle;
						font-size: 39px;
					}
				}
				.instructionsBox{
					height: 195px;

					.icons{
						position: relative;
						width: 172px;
						height: 118px;
						margin: auto;
						margin-top: 29px;
						left: 0; right: 0;

						i{
							@include opacity(0.3);
							@include transitions(0.6s);
						}
						.active{
							@include opacity(1);
						}

						.mouse{
							position: absolute;
							left: 0;
							width: 42px;
							height: 63px;
							margin: auto;
							top: 0; bottom: 0;
							@include bounce_trans(0.5s);

							i{
								position: absolute;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
							}
						}

						.arrowKeys{
							position: absolute;
							right: 0;
							width: 94px;
							height: 63px;
							margin: auto;
							top: 0; bottom: 0;
							@include bounce_trans(0.5s);

							.keys{
								position: absolute;
								width: 32px;
								height: 32px;
								margin: auto;
							}

							.upKey{
								left: 0;
								right: 0;
								top: 0;
							}
							.downKey{
								left: 0;
								right: 0;
								bottom: 0;
							}

							.leftKey{
								left: 0;
								bottom: 0;
							}
							.rightKey{
								right: 0;
								bottom: 0;
							}
						}
					}

					.description{
						position: relative;
						display: table;
						width: 100%;
						height: 48px;
						@include bounce_trans(0.5s);

						p{
							display: table-cell;
							color: $mid-gray;
							font-size: 16px;
							-webkit-font-smoothing: antialiased !important;
							text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
							@include opacity(0);
					        @include transitions(0.6s);
						}

						.active{
							@include opacity(1);
						}
					}
				}

				.smoothIntro{
					@include opacity(0);
					-webkit-transform: translateY(30px);
					   -moz-transform: translateY(30px);
					    -ms-transform: translateY(30px);
					     -o-transform: translateY(30px);
					        transform: translateY(30px);
				}
			}
		}
		.crystalLoader{
			@include opacity(0);
			-webkit-transform: translateY(0.5%);
			   -moz-transform: translateY(0.5%);
			    -ms-transform: translateY(0.5%);
			     -o-transform: translateY(0.5%);
			        transform: translateY(0.5%);
		}

		#mbrtWrapper{
			position: fixed;
			width: 100%;
			height: 100%;
			font-weight: 400;
			-webkit-font-smoothing: antialiased !important;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
			color: $mid-gray;

			#rightBarsNav{
				position: fixed;
				width: 100px;
				top: 50%;
				@include translate(0, -50%);
				right: 0;
				z-index: 1000000;

				&:hover{
					.barsWrapper{
						.navBar{
							.navNumber{
								@include opacity(0);
							}

							.navName{
								color: $nav-light-gray-active;
							}
						}
					}
				}

				.barsWrapper{
					position: relative;
					margin: 0;
					padding: 0;
					text-align: right;
					list-style: none;

					.navBar{
						position: relative;
						display: table;
						width: 100%;
						padding: 12px 0;
						cursor: pointer;

						@include translate(10px, 0);
						@include transitions(0.6s);

						&:hover{
							@include translate(0, 0);
						}

						.navNumber{
							position: absolute;
							top: 50%;
							@include translate(0,-50%);
							right: 27px;
							vertical-align: middle;
							font-size: 0.7em;
							@include transitions(0.6s);
						}

						.navName{
							position: relative;
							display: inline-block;
							vertical-align: middle;
							right: 0;
							@include boxSizeFit();
							color: $nav-light-gray-deactive;
							@include transitions(0.6s);
							font-size: 0.7em;
							text-transform: uppercase;
						}

						.navLine{
							position: relative;
							display: inline-block;
							vertical-align: middle;
							width: 14px;
							height: 1px;
							right: 0;
							margin-left: 12px;
							background-color: $nav-light-gray-active;

							@include transitions(0.6s);
						}
					}

					.activeNavBar{
						@include translate(0, 0);

						.navNumber{
							@include opacity(0);
						}

						.navName{
							color: $nav-black-active !important;
						}

						.navLine{
							background-color: $nav-black-active !important;
						}
					}
				}
			}

			.hiddenMainNav{
				display: none;
			}
			.crystalMainNav{
				@include opacity(0);
				-webkit-transform: translateY(0.5%);
				   -moz-transform: translateY(0.5%);
				    -ms-transform: translateY(0.5%);
				     -o-transform: translateY(0.5%);
				        transform: translateY(0.5%);
			}

			.animatableMainNav{
				@include transitions(0.7s);
			}


			.mainSection{
				position: fixed;
				width: 100%;
				height: 100%;
				@include transitions(0.9s);
				will-change: transform;
				display: none;
				z-index: 1000;
			}

			.introSection{
				.introLetter{
					position: absolute;
					width: 1290px;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;

					h1, h2, p{
						@include displayLeft();
						@include boxSizeFit();
						margin-top: 0;
						margin-bottom: 0;
					}

					.introTitle{
						height: 95px;
						line-height: 5em;

						.writtingAnimation{
							@include writingBar();
						}

						h1{
							position: absolute;
							height: 75px;
							font-size: 69.6px;
							padding-right: 22px;
							color: $light-gray;
							@include trans_title(0.9s);
						}

						h1:before{
							@include blackHover();
						}

					}

					.introParagraph{
						p{
							width: 100%;
							font-size: 25px;
							line-height: 1.2em;
						}
					}

					.introQuotes{
						height: 55px;

						h2{
							position: absolute;
							font-size: 38px;
							color: $light-gray;
							@include trans_title(0.9s);
						}

						h2:before{
							@include blackHover();
						}
					}

					.animatedLine{
						z-index: -1;
						@include opacity(0);
						-webkit-transform: translateY(0.4em);
						   -moz-transform: translateY(0.4em);
						    -ms-transform: translateY(0.4em);
						     -o-transform: translateY(0.4em);
						        transform: translateY(0.4em);
				        @include transitions(0.6s);
					}

					.active{
						z-index: 1;
						@include opacity(1);
						-webkit-transform: none;
						   -moz-transform: none;
						    -ms-transform: none;
						     -o-transform: none;
						        transform: none;
					}
				}
			}

			.coverSection{
				.nameSection{
					position: absolute;
					height: 100px;
					line-height: 5.2em;
					margin: auto;
					top: 0; bottom: 0;
					left: 0; right: 0;
					@include transitions(0.6s);

					h1{
						height: 75px;
						margin: 0;
						padding-right: 20px;
						font-size: 70px;
						text-align: center;
						color: $light-gray;
						@include displayLeft();
						@include boxSizeFit();
						@include writingBar();
						@include trans_title(0.9s);
					}

					h1:before{
						@include blackHover();
					}
				}
			}

			.carouselSection{
				@include boxSizeFit();
				padding: 6.9% 18.75%;

				.innerCarousel{
					position: relative;
					width: 100%;
					height: 100%;
					margin: auto;
					top: 0; bottom: 0;

					.carouselImages{
						position: relative;
						width: 100%;
						height: 100%;

						.projectsWrapper{
							position: absolute;
							width: 100%;
							height: 100%;
							margin: auto;
							left: 0; right: 0;
							overflow: hidden;

							.projectPhoto{
								position: absolute;
								width: 100%;
								height: 100%;
								display: none;
								@include boxSizeFit();
								margin: auto;
								left: 0; right: 0;
								top: 0; bottom: 0;
								overflow: hidden;
								@include transitions(1.3s);
								will-change: transform;

								img{
									position: absolute;
									width: 100%;
									height: 100%;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
									object-fit: cover;
								}

								.projectData{
									position: absolute;
									width: 100%;
									height: 100%;
									background-color: rgba(255,255,255,0.95);
									@include transitions (0.4s);
									@include opacity(0);

									&:hover{
										@include opacity(1);
									}

									.innerCenteredBox{
										position: absolute;
										width: 36.3%;
										height: 33.5%;
										margin: auto;
										top: 0; bottom: 0; left: 14%; right: 0;
										text-align: left;

										h5{
											position: relative;
											width: 100%;
											line-height: 0.8em;
											font-size: 24.5px;
											margin: 0;
											margin-bottom: 7px;
											color: $black;
										}

										p{
											position: relative;
											width: 100%;
											height: 7.5%;
											line-height: 0.8em;
											font-size: 19px;
											margin: 0;
											margin-bottom: 10.5%;
										}
									}

									.visitWebsite{
										position: absolute;
										width: 175px;
										height: 28px;
										line-height: 1.9em;
										margin: auto;
										left: 0; right: 0;
										bottom: 10%;
										border: 1px solid $mid-gray;

										a{
											position: absolute;
											display: block;
											width: 100%;
											height: 100%;
											text-decoration: none;
											text-align: center;
											font-size: 15px;
											color: $mid-gray;
											@include transitions(0.6s);

											&:hover{
												color: $black;
											}
										}
									}
								}
							}
							
							.active{
								// background-color: blue;
								display: block;
								z-index: 1;
								@include trans-delayed(1.3s, 0.1s);
								-webkit-transform: none;
								   -moz-transform: none;
								    -ms-transform: none;
								     -o-transform: none;
								        transform: none;

							}
							.left{
								// background-color: red;
								-webkit-transform: translate(-102%, 0);
								   -moz-transform: translate(-102%, 0);
								    -ms-transform: translate(-102%, 0);
								     -o-transform: translate(-102%, 0);
								        transform: translate(-102%, 0);

							}
							.right{
								// background-color: green;
								-webkit-transform: translate(102%, 0);
								   -moz-transform: translate(102%, 0);
								    -ms-transform: translate(102%, 0);
								     -o-transform: translate(102%, 0);
								        transform: translate(102%, 0);

							}
						}

						.arrow{
							position: absolute;
							width: 60px;
							height: 60px;
							border-radius: 50%;
							margin: auto;
							top: 0; bottom: 0;
							background-color: #fff;
							@include transitions(0.6s);

							&:hover{
								@include hoverDropShadow();

								a{
									@include opacity(1);
								}
							}

							a{
								position: absolute;
								width: 100%;
								height: 100%;
								display: block;
								@include transitions(0.4s);
								@include opacity(0.3);

								i{
									position: absolute;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}
							}
						}

						.leftArrow{
							left: -13.34%;
						}

						.rightArrow{
							right: -13.34%;
						}
					}

					.projectDetails{
						position: absolute;
						width: 100%;
						bottom: -65px;
						color: $black;

						.description{
							position: relative;
							float: left;

							.index, .name, .service{
								position: relative;
								display: inline-block;
								vertical-align: top;
								margin: 0;
							}

							.index{
								font-size: 0.86em;
							}
							.name{
								font-size: 2.45em;
								line-height: 1em;
								margin-left: 20px;
								margin-right: 45px;
							}
							.service{
								font-size: 0.88em;
								line-height: 1.5em;
								text-transform: uppercase;
							}
						}

						.slideCounter{
							position: relative;
							float: right;

							.currentSlide, .divider, .totalSlides{
								position: relative;
								display: inline-block;
								vertical-align: top;
								margin: 0;
								font-size: 0.86em;
							}

							.currentSlide{
								@include transitions(0.4s);
							}

							.divider{
								width: 45px;
								height: 1px;
								top: 9px;
								margin-left: 14px;
								margin-right: 14px;
								background-color: $black;
							}
						}
					}

					.projectsBars{
						position: relative;
						width: 47.92%;
						height: 3px;
						margin: auto;
						left: 0; right: 0;
						margin-top: 4.69%;

						ul{
							position: absolute;
							height: 100%;
							margin: 0;
							padding: 0;
							margin: auto;
							left: 0; right: 0;

							.singleBar{
								height: 100%;
								@include displayLeft();
								list-style-type: none;
								margin-left: 7.5px;
								margin-right: 7.5px;
								background-color: $light-gray;
								cursor: pointer;
								@include transitions(0.6s);
								@include opacity(1);
								overflow: hidden;

								&:hover{
									@include opacity(0.4);
								}

								.coverBar{
									position: absolute;
									width: 100%;
									height: 100%;
									display: none;
									background-color: $black;
									@include transitions(1s);
									-webkit-transform-origin: left;
									transform-origin: left;
								}

								.active{
									display: block;
									@include trans-delayed(1s, 0.1s);
									-webkit-transform: none;
									   -moz-transform: none;
									    -ms-transform: none;
									     -o-transform: none;
									        transform: none;
								}

								.left{
									-webkit-transform: translateX(-102%);
									   -moz-transform: translateX(-102%);
									    -ms-transform: translateX(-102%);
									     -o-transform: translateX(-102%);
									        transform: translateX(-102%);
								}

								.right{
									-webkit-transform: translateX(102%);
									   -moz-transform: translateX(102%);
									    -ms-transform: translateX(102%);
									     -o-transform: translateX(102%);
									        transform: translateX(102%);
								}
							}
						}

						.fiveBarsList{
							width: 62%;
							
							li{
								width: calc(20% - 15px);
							}
						}

						.twoBarsList{
							width: 25%;

							li{
								width: calc(50% - 15px);
							}
						}

						.sixBarsList{
							width: 75%;

							li{
								width: calc(16.66% - 15px);
							}
						}

						.threeBarsList{
							width: 37.6%;

							li{
								width: calc(33.33% - 15px);
							}
						}

						.eightBarsList{
							width: 100%;

							li{
								width: calc(12.5% - 15px);
							}
						}

						.fourBarsList{
							width: 50%;

							li{
								width: calc(25% - 15px);
							}
						}
					}
				}
			}

			.carouselVertSection{
				.innerCarousel{
					position: absolute;
					width: 89%;
					height: 95%;
					margin: auto;
					top: 0; bottom: 0;
					left: 0;

					.carouselTitle{
						position: relative;
						float: left;
						width: 30.43%;
						height: 100%;
						overflow: hidden;
						@include transitions(0.6s);

						h3{
							position: absolute;
							@include boxSizeFit();
							text-align: right;
							width: 87.3%;
							height: 58px;
							line-height: 1.5em;
							font-size: 37.2px;
							padding-right: 50px;
							margin: auto;
							top: 0; bottom: 0;
							right: 0;
							color: $light-gray;
							@include trans_title(0.9s);
						}

						h3:before{
							@include blackHover();
						}
					}

					.arrow{
						position: relative;
						float: left;
						width: 5.8%;
						height: 100%;
						margin: auto;
						@include transitions(0.4s);

						a{
							position: absolute;
							width: 100%;
							height: 100%;
							display: block;
							@include transitions(0.4s);
							@include opacity(0.3);

							&:hover{
								@include opacity(1);
							}

							i{
								position: absolute;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
							}
						}
					}

					.carouselImages{
						position: relative;
						float: left;
						width: 39.8%;
						height: 98%;
						overflow: hidden;

						.projectsWrapper{
							width: 100%;
							height: 100%;
							margin: auto;
							left: 0; right: 0;
							top: 0; bottom: 0;
							overflow: hidden;

							.projectPhoto{
								position: absolute;
								width: 82.4%;
								height: 100%;
								display: none;
								@include boxSizeFit();
								margin: auto;
								left: 0; right: 0;
								top: 0; bottom: 0;
								overflow: hidden;
								@include transitions(1.3s);
								will-change: transform;

								img{
									position: absolute;
									width: 100%;
									margin: auto;
									top: 0; bottom: 0; left: 0; right: 0;
								}
							}

							.active{
								// background-color: blue;
								display: block;
								z-index: 1;
								@include trans-delayed(1.3s, 0.1s);
								-webkit-transform: none;
								   -moz-transform: none;
								    -ms-transform: none;
								     -o-transform: none;
								        transform: none;

							}
							.left{
								// background-color: red;
								-webkit-transform: translate(-120%, 0);
								   -moz-transform: translate(-120%, 0);
								    -ms-transform: translate(-120%, 0);
								     -o-transform: translate(-120%, 0);
								        transform: translate(-120%, 0);

							}
							.right{
								// background-color: green;
								-webkit-transform: translate(120%, 0);
								   -moz-transform: translate(120%, 0);
								    -ms-transform: translate(120%, 0);
								     -o-transform: translate(120%, 0);
								        transform: translate(120%, 0);

							}
						}
					}

					.dataWrapper{
						position: relative;
						float: left;
						width: 18%;
						height: 100%;
						@include boxSizeFit();
						padding-left: 2.9%;

						.projectData{
							position: absolute;
							width: 100%;
							height: 100%;

							.innerCenteredBox{
								position: absolute;
								width: 100%;
								height: 21.5%;
								margin: auto;
								top: 0; bottom: 0; 
								left: 0; right: 0;
								text-align: left;
								@include transitions(0.6s);

								h5{
									position: relative;
									width: 100%;
									line-height: 0.8em;
									font-size: 24.2px;
									margin: 0;
									margin-bottom: 2.3%;
									color: $light-gray;
									@include trans_title(0.9s);
								}

								h5:before{
									@include blackHover();
								}

								.shiftData{
									position: relative;
									width: 100%;
									height: 7.4%;
									line-height: 0.8em;
									font-size: 20px;
									margin-bottom: 11%;

									p{
										position: absolute;
										margin: 0;
										z-index: -1;
										@include opacity(0);
										-webkit-transform: translateY(0.4em);
										   -moz-transform: translateY(0.4em);
										    -ms-transform: translateY(0.4em);
										     -o-transform: translateY(0.4em);
										        transform: translateY(0.4em);
									}

									.active {
										z-index: 1;
										@include opacity(1);
										-webkit-transform: none;
										   -moz-transform: none;
										    -ms-transform: none;
										     -o-transform: none;
										        transform: none;
									}
								}

								.shiftBrand{
									p{
										@include trans-delayed(0.6s, 0.2s)
									}

									.active{
										@include trans-delayed(0.6s, 0s);
									}
								}
								.shiftBrief{
									p{
										@include trans-delayed(0.6s, 0.1s)
									}
								}
								.shiftClient{
									p{
										@include trans-delayed(0.6s, 0s)
									}

									.active{
										@include trans-delayed(0.6s, 0.2s);
									}
								}
							}
						}
					}

					.projectsBars{
						position: absolute;
						width: 53.9%;
						height: 3px;
						margin: auto;
						left: 12.4%; right: 0;
						bottom: 0;

						ul{
							position: absolute;
							height: 100%;
							margin: 0;
							padding: 0;
							margin: auto;
							left: 0; right: 0;

							.singleBar{
								height: 100%;
								@include displayLeft();
								list-style-type: none;
								margin-left: 7.5px;
								margin-right: 7.5px;
								background-color: $light-gray;
								cursor: pointer;
								@include transitions(0.6s);
								@include opacity(1);
								overflow: hidden;

								&:hover{
									@include opacity(0.4);
								}

								.coverBar{
									position: absolute;
									width: 100%;
									height: 100%;
									display: none;
									background-color: $black;
									@include transitions(1s);
									-webkit-transform-origin: left;
									transform-origin: left;
								}

								.active{
									display: block;
									@include trans-delayed(1s, 0.1s);
									-webkit-transform: none;
									   -moz-transform: none;
									    -ms-transform: none;
									     -o-transform: none;
									        transform: none;
								}

								.left{
									-webkit-transform: translateX(-102%);
									   -moz-transform: translateX(-102%);
									    -ms-transform: translateX(-102%);
									     -o-transform: translateX(-102%);
									        transform: translateX(-102%);
								}

								.right{
									-webkit-transform: translateX(102%);
									   -moz-transform: translateX(102%);
									    -ms-transform: translateX(102%);
									     -o-transform: translateX(102%);
									        transform: translateX(102%);
								}
							}
						}

						.sixBarsList{
							width: 75%;

							li{
								width: calc(16.66% - 15px);
							}
						}

					}
				}
			}

			.contactSection{
				.contactLetter{
					position: absolute;
					width: 67.4%;
					height: 45.5%;
					margin: auto;
					top: 0; bottom: 0; left: 0; right: 0;

					.topBox{
						position: relative;
						width: 100%;
						height: 21.5%;
						margin-bottom: 12.7%;

						.contactTitle{
							@include displayLeft();
							width: 69%;
							height: 100%;

							h1{
								position: absolute;
								height: 75px;
								margin: 0;
								font-size: 65px;
								@include writingBar();
								padding-right: 2.1%;
								@include trans_title(0.9s);
							}

							h1:before{
								@include blackHover();
							}
						}

						.contactButton{
							@include displayLeft();
							width: 31%;
							height: 100%;

							a{
								position: absolute;
								width: 50.1%;
								height: 48.8%;
								display: table;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
								border: 1px solid $light-gray;
								color: $mid-gray;
								font-weight: 700;
								font-size: 25px;
								text-align: center;
								text-decoration: none;

								@include transitions(0.6s);

								&:hover{
									border: 1px solid $black;
									color: $black;
								}

								p{
									display: table-cell;
									vertical-align: middle;
								}
							}
						}
					}

					.bottomBox{
						position: relative;
						width: 100%;
						height: 48.2%;
						@include boxSizeFit();

						.contactColumns{
							@include displayLeft();
							width: 24%;
							height: 100%;

							.indexRow{
								height: 15%;

								h5{
									position: absolute;
									margin: 0;
									font-size: 34.5px;
									line-height: 0.9em;
									border-right: 2px solid $mid-gray;
									padding-right: 3.2%;
								}
							}

							.firstRow{
								width: 100%;

								.innerHeadRow{
									font-weight: 700;
									font-size: 25px;
									line-height: 1.5em;
								}

								.innerFootRow{
									font-size: 19.9px;
									font-variant-numeric: lining-nums; 
									margin-top: -0.6%;
									margin-bottom: 10.6%;

									a{
										text-decoration: none;
										color: $mid-gray;
									}
								}
							}

							.secondRow{
								font-size: 19.9px;
								font-variant-numeric: lining-nums; 
								a{
									text-decoration: none;
									color: $mid-gray;
								}

								.innerHeadRow{
									margin-bottom: 3%;
								}
							}
						}
					}
				}
			}

			
			.activeSlide{
				display: block;
				@include opacity(1);
				-webkit-transform: translateY(0);
				   -moz-transform: translateY(0);
				    -ms-transform: translateY(0);
				     -o-transform: translateY(0);
				        transform: translateY(0);
		    }
			.down{
				@include opacity(0);
				-webkit-transform: translateY(100%);
				   -moz-transform: translateY(100%);
				    -ms-transform: translateY(100%);
				     -o-transform: translateY(100%);
				        transform: translateY(100%);
		    }
			.up{
				@include opacity(0);
				-webkit-transform: translateY(-100%);
				   -moz-transform: translateY(-100%);
				    -ms-transform: translateY(-100%);
				     -o-transform: translateY(-100%);
				        transform: translateY(-100%);
		    }

		    #rrssFooter{
		    	z-index: 1000000;
		    	position: fixed;
		    	right: 80px;
		    	bottom: 45px;

		    	.rrssList{
		    		height: 16px;
		    		list-style: none;
		    		margin: 0;
		    		padding: 0;

		    		.rrssIcon{
		    			position: relative;
		    			display: inline-block;
		    			margin-left: 25px;

		    			&:nth-child(1){
		    				margin-left: 0;
		    			}

		    			a{
		    				display: block;
		    				text-decoration: none;
		    				color: $black;
		    				@include opacity(0.3);
		    				@include transitions(0.6s);

		    				&:hover{
		    					@include opacity(1);
		    				}
		    			}

		    			.rrssLogo{
		    				background-image: url(/img/icons/sprite_rrss.png);
		    				background-repeat: no-repeat;
		    				height: 15px;
		    				display: block;
		    			}

		    			.iFb{
		    				width: 9px;
		    				background-position: 0 0;
		    			}
		    			.iIg{
		    				width: 16px;
		    				background-position: -12px 0;
		    			}
		    			.iMail{
		    				width: 20px;
		    				background-position: -30px 0;
		    			}
		    		}
		    	}
		    }
		}
	}

// INDEX SECTION
	#section-0{
		background-color: #fff;

		#mainLogo{
			position: absolute;
			width: 662px;
			height: 384px;
			margin: auto;
			top: 0; bottom: 0; right: 0; left: 232px;

			img{
				position: absolute;
				width: 100%;
			}
		}

		#startExploring{
			position: absolute;
			width: 50px;
			height: 80px;
			margin: auto;
			left: 0; right: 0;
			bottom: 50px;
			cursor: pointer;
			@include opacity(0.3);
			@include transitions(0.4s);

			&:hover{
				@include opacity(1);
			}

			.startText{
				position: relative;
				width: 100%;
				height: 25px;
				line-height: 25px;
				font-size: 11.5pt;
				letter-spacing: 2px;
				text-align: center;
				margin-bottom: 17px;
				color: $black;
			}

			.startGo{
				position: relative;
				width: 100%;
				height: 40px;

				i{
					position: absolute;
					margin: auto;
					left: 0; right: 0; top: 0; bottom: 0;
				}
			}
		}
	}
// END INDEX SECTION

// WELCOME SECTION
	#section-1{
		#receiverLetter{
			height: 640px;
			
			.introTitle{
				width: 900px;
				margin-bottom: 7px;

				.maskTitle{
					h1{
						width: 900px;
					}
				}
			}


			.introParagraph{
				margin-bottom: 46px;
			}

			#welcomePara-1{
				height: 142px;
			}
			#welcomePara-2, #welcomePara-3{
				height: 53px;
			}


			.introQuotes{
				margin-bottom: 40px;
			}

			#welcomeQuote-1{
				width: 760px;

				.maskTitle{
					h2{
						width: 760px;
					}
				}
			}
			#welcomeQuote-2{
				width: 660px;

				.maskTitle{
					h2{
						width: 660px;
					}
				}
			}
		}
	}
// END WELCOME SECTION

// SERVICES INDEX SECTION
	#section-2{
		#servicesLetter{
			height: 660px;

			.introTitle{
				width: 465px;
				margin-bottom: 30px;

				.maskTitle{
					h1{
						width: 465px;
					}
				}
			}
			
			.introParagraph{
				height: 90px;
				margin-bottom: 50px;
			}

			.introQuotes{
				width: 425px;
				margin-bottom: 42px;

				.maskTitle{
					h2{
						width: 425px;
					}
				}
			}

			#servicesList{
				position: relative;
				width: 100%;

				#column-1{
					width: 21.9%;

					.maskTitle{
						width: 120px;

						.maskedText{
							width: 120px;
						}
					}
				}
				#column-2{
					width: 27.9%;

					.maskTitle{
						width: 110px;

						.maskedText{
							width: 110px;
						}
					}
				}
				#column-3{
					width: 28.3%;

					.maskTitle{
						width: 300px;

						.maskedText{
							width: 300px;
						}
					}
				}
				#column-4{
					width: 21.9%;

					.maskTitle{
						width: 90px;

						.maskedText{
							width: 90px;
						}
					}
				}

				th{
					vertical-align: top;
					text-align: left;
					font-size: 25px;
					line-height: 1.4em;
					padding-bottom: 30px;
					font-weight: bolder;
					color: $light-gray;
					@include trans_title(0.6s);
				}

				th:before{
					@include blackHover();
				}

				td{
					font-size: 11.8px;
					line-height: 2.13em;
					letter-spacing: 0.1em;
					text-transform: uppercase;
				}
			}
		}
	}
// END SERVICES INDEX