.grid{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	@include boxSizeFit();
	padding: 0 15px;

	&__text-block{
		position: relative;
		width: 970px;
		margin: 0 auto;
		margin-bottom: 90px;
	}

	&__row{
		position: relative;
		overflow: auto;
		width: 100%;
		margin-bottom: 100px;

		&__column{
			position: relative;
			display: inline-block;
			float: left;

			&--half{
				width: 50%;
			}
		}
	}
	
	&__row-6col{
		position: relative;
		overflow: auto;
		width: 570px;
		margin: 0 auto;
	}


	&__col-3{
		position: relative;
		width: 33.33%;
	}
}